import com.cloudbees.plugins.credentials.CredentialsScope
import com.cloudbees.plugins.credentials.domains.Domain
import com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl
import hudson.model.Hudson
import jenkins.model.Jenkins

String credentialsId = '{{ jenkins_gitea_credentials_id }}'
String giteaUsername = '{{ gitea_user }}'
String giteaToken = '{{ gitea_token }}'

def creds = com.cloudbees.plugins.credentials.CredentialsProvider.lookupCredentials(
    com.cloudbees.plugins.credentials.common.StandardUsernameCredentials.class,
    Jenkins.getInstance(),
    null,
    null
).find { it.id == credentialsId }

if (creds == null) {
    def domain = Domain.global()
    def store = Jenkins.getInstance().getCredentialStore()
    def newCreds = new UsernamePasswordCredentialsImpl(
        CredentialsScope.GLOBAL,
        credentialsId,
        "Token d'accès Gitea",
        giteaUsername,
        giteaToken
    )
    
    store.addCredentials(domain, newCreds)
    println "Credentials Gitea ajoutés avec succès."
} else {
    println "Les credentials Gitea existent déjà."
}
